{% extends 'main/base.html' %}

{% block dashboard %}
<div id="map"></div>
<div id="dash">
    <p>Tableau de bord des sites détectés et des scores de risque par région.</p>
    <div class="d-stats">
        <h2>Region : Iffou</h2>
        <div class="ds-stats1">
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Sites Actifs</p>
                <p class="ds-s1-value">647</p>
            </div>
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Risque</p>
                <p class="ds-s1-value"><span>186</span>/647</p>
            </div>
        </div>
    </div>
    <div class="d-stats">
        <h2>Region : N'Zi</h2>
        <div class="ds-stats1">
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Sites Actifs</p>
                <p class="ds-s1-value">308</p>
            </div>
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Risque</p>
                <p class="ds-s1-value"><span>80</span>/308</p>
            </div>
        </div>
    </div>
    <div class="d-stats">
        <h2>Region : Sud Comoé</h2>
        <div class="ds-stats1">
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Sites Actifs</p>
                <p class="ds-s1-value">748</p>
            </div>
            <div class="ds-s1-sites">
                <p class="ds-s1-title">Risque</p>
                <p class="ds-s1-value"><span>227</span>/748</p>
            </div>
        </div>
    </div>
    <div id="logout">
        <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline;">
            
            <button type="submit">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Se deconnecter</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}